<% title "Manage Tasks" %>

		<div class="ui-body ui-body-a">

  		<ul data-role="listview" data-inset="true">

      <% @tasks.each do |task| %>
        <li>
          <h3><%= task.name %></h3>
          <p><%= task.text %></p>
          <p><%= task.comment %></p>
          <div data-role="controlgroup" data-type="horizontal">
            <%= link_to 'Show', task, "data-role" => "button", "data-icon" => "search", "data-theme" => "b" %>
            <%= link_to 'Edit', edit_task_path(task), "data-role" => "button", "data-icon" => "gear", "data-theme" => "b" %>
            <%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete, "data-role" => "button", "data-icon" => "delete", "data-theme" => "a" %>
          </div>
        </li>
      <% end %>
      
      </ul>

		</div>
		
	  <%= render 'footer' %>
