<% title "Task Details" %>

<div class="ui-body ui-body-c">

  <p id="notice"><%= notice %></p>

  <p>
    <b>Name:</b>
    <%= @task.name %>
  </p>

  <p>
    <b>Text:</b>
    <%= @task.text %>
  </p>

  <p>
    <b>Comment:</b>
    <%= @task.comment %>
  </p>


  <div class="ui-bar ui-bar-b"> 
    <h3>Sub-Tasks</h3>
  </div>
    <%= render @task.subtasks %>

    <%= render "subtasks/form" %>

  <%= link_to 'Edit', edit_task_path(@task) %>

</div>