<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Text:</b>
  <%= @task.text %>
</p>

<p>
  <b>Comment:</b>
  <%= @task.comment %>
</p>


<h2>Tasks</h2>
<%= render @task.subtasks %>

<h2>Tasks</h2>
<%= render "subtasks/form" %>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
